* {
	margin: 0;
	padding: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
    color: #101010;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
}

button, input[type="submit"], input[type="reset"] {
    position: relative;
    background: #2484ff;

    padding: 8px 23px;
    margin-bottom: 4px;
    border: 0 none;
    border-radius: 4px;
    outline: none;

    -webkit-box-shadow: 0 4px 0 0 #1a56ff;
    -moz-box-shadow: 0 4px 0 0 #1a56ff;
    box-shadow: 0 4px 0 0 #1a56ff;

    color: #ffffff;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
    line-height: normal;

    -webkit-transition: background-color .13s, opacity .13s;
    -moz-transition: background-color .13s, opacity .13s;
    -ms-transition: background-color .13s, opacity .13s;
    transition: background-color .13s, opacity .13s;
}

button:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled
 {
    background: #2484ff !important;
    filter: alpha(opacity=50) !important;
    opacity: 0.50 !important;
    cursor: default;
}

button:hover, input[type="submit"]:hover, input[type="reset"]:hover,
button:focus, input[type="submit"]:focus, input[type="reset"]:focus {
    background-color: #1d74ff;
}


button:active, input[type="submit"]:active, input[type="reset"]:active,
button:active:hover, input[type="submit"]:active:hover, input[type="reset"]:active:hover {
    background-color: #1a56ff;

}

input[type="text"], input[type="password"] {
    padding: 5px;
    height: 21px;
    outline-color: #2484ff;
    border-radius: 7px;
    border: 1px solid #e0e0e2;
    background-color: #f8f8fa;
    font-size: 14px;
    -webkit-box-sizing: content-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: content-box;    /* Firefox, other Gecko */
    box-sizing: content-box;         /* Opera/IE 8+ */
    color: #959595;
}

input[type="text"]:focus, input[type="password"]:focus {
    color: #121213; /* IE workaround for ::placeholder */
}

::placeholder {
  color: #959595;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.invis {
    filter: alpha(opacity=0) !important;
    opacity: 0 !important;
}

.height0 {
    height: 0 !important;
}

.gone {
    top: -200px;
}

#dim-ovr {
    position: absolute;
    background-color: #000000;
    filter: alpha(opacity=70);
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 95;
}

.center
{
    text-align: center;
}

.dtxt {
    color: #7B7C7D;
}

.txtbx_err {
    -webkit-box-shadow: inset 0 0 0 1px rgba(255,0,0,0.5);
    -moz-box-shadow: inset 0 0 0 1px rgba(255,0,0,0.5);
    box-shadow: inset 0 0 0 1px rgba(255,0,0,0.5);
}

.pad10 {
    padding: 10px;
}

.wrap {
    overflow-wrap: break-spaces;
    word-wrap: break-spaces;
    -ms-word-wrap: break-spaces;
}

.abs {
    position: absolute !important;
}