#load-wrap {
    z-index: 100;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

#pageload-wrap {
    top: 0;
    margin-left: -10px;
    z-index: 90;
}

#pageload-wrap, #load-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;

    filter: alpha(opacity=100);
    opacity: 1;

    /*-webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;*/
}

.load-cont {
    width: 200px;
    position: absolute;
    height: 200px;
    top: -150px;
    bottom: 0;
    left: 0;
    right: -150px;
    margin: auto;
}

.lblock {
    width: 50px;
    height: 50px;
    position: absolute;
}

.lb1 {
    z-index: 101;
    animation: lb1_move 1.9s cubic-bezier(.6,.01,.4,1) infinite;
}

.lb2 {
    animation: lb2_move 1.9s cubic-bezier(.6,.01,.4,1) infinite;
}

.lb3 {
    z-index: 101;
    animation: lb3_move 1.9s cubic-bezier(.6,.01,.4,1) infinite;
}

.lb4 {
    animation: lb4_move 1.9s cubic-bezier(.6,.01,.4,1) infinite;
}

.lb1, .lb2, .lb3, .lb4 {
    background-color: #2484ff;
    bottom: 0;
    left: 0;

    -webkit-box-shadow: 0px 4px 0px 0px #1a56ff;
    -moz-box-shadow: 0px 4px 0px 0px #1a56ff;
    box-shadow: 0px 4px 0px 0px #1a56ff;
}

@keyframes lb1_move {
    0%, 100% {transform: translate(0, 0)}
    25% {transform: translate(0, 100px)}
    50% {transform: translate(100px, 100px)}
    75% {transform: translate(100px, 0)}
}

@keyframes lb2_move {
    0%, 100% {transform: translate(0, 0)}
    25% {transform: translate(-100px, 0)}
    50% {transform: translate(-100px, 100px)}
    75% {transform: translate(0, 100px)}
}

@keyframes lb3_move {
    0%, 100% {transform: translate(0, 0)}
    25% {transform: translate(0, -100px)}
    50% {transform: translate(-100px, -100px)}
    75% {transform: translate(-100px, 0)}
}

@keyframes lb4_move {
    0%, 100% {transform: translate(0, 0)}
    25% {transform: translate(100px, 0)}
    50% {transform: translate(100px, -100px)}
    75% {transform: translate(0, -100px)}
}