h1 {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: normal;
}

#main {
    width: 100%;
    height: 100%;
}

.pane-wrap-wrap {
    width: 64px;
    float: left;
    height: 100%;
}

.pane-wrap {
    height: 100%;
    width: 64px;
    overflow: hidden;
    position: relative;
    border-right: 1px solid #e0e0e2;
}

#pane-groups {
    display: inline-block;
    padding: 0 8px;
    background-color: #f8f8fa;
    list-style: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -20px;
    overflow-y: scroll;
}

.grpicon {
    width: 48px;
    height: 48px;
    border-radius:24px;
    background-color: #dddddd;
    margin-top: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: border-radius linear 0.09s;
}

.grpicon img {
    width: 100%;
    height: 100%;
}

.selgrp, .grpicon:hover {
    border-radius: 16px;
}

.grpspacer {
    margin: 8px 9px;
    width: 28px;
    height: 2px;
    background-color: #dddddd;
    /*background-color: #e2e2e2;*/
    border-radius: 128px;
}

#addgroup {
    background: transparent;
    border-radius: 128px;
    transition: background-color linear 0.09s;
}

#addgroup:hover {
    background-color: #e2e2e2;
}

/*#topright {
    position: absolute;
    top: 0;
    right: 0;
}*/
.topbar {
    position: relative;
    margin-left: 64px;
    padding: 0;
    background-color: #f8f8fa;
    border-bottom: 1px solid #e0e0e2;
    border-bottom-left-radius: 5px;
    z-index: 95;
}

.topbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 30px;
}

.topbar li {
    margin-right: 6px;
    float: right;
}

.topbar img {
    padding: 5px;
    cursor: pointer;
    width: 30px;
}

.righty {
    position: absolute;
    overflow-y: auto;
    left: 64px;
    right: 0;
    bottom: 0;
    top: 30px;
}

.wrapta {
    border: 0 !important;
    outline: none !important;
    height: 100%;
    width: 400px;
}

.logotitle {
    position: relative;
    height: 128px;
    width: 575px;
    margin: 0 auto;
}

.logotitle span {
    position: absolute;
    display: inline-block;
    text-align: left;
    margin-left: 10px;
    vertical-align: middle;
    top: 50%;
    margin-top: -40px;
    line-height: 40px;
}

.logotitle h1 {
    margin: 0;
}

.mainpage {
}

.fillerscrn {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-top: -24px;
    font-weight: 700;
    font-size: 24px;
    color: #dddddd;
    text-align: center;
}

#pagecont {
    margin-top: 20px;
}

#signinbtn {
    margin-top: 130px;
}

.inlineb {
    display: inline-block;
}