<div class="logotitle noselect">
    <img src="./img/rustykeys.png" width="128" height="128" alt="rustykeys logo" align="top"/>
    <span>
        <h1>Welcome to RustyKeys</h1>
        <p>&nbsp;An open-source password manager with better control of your data</p>
    </span>
</div>
<div id="pagecont" class="center">
    <div class="fillerscrn">
        Nothing to see here!.. Yet.
    </div>
</div>