<div class="logotitle noselect">
    <img src="./img/rustykeys.png" width="128" height="128" alt="rustykeys logo" align="top"/>
    <span>
        <h1>Welcome to RustyKeys</h1>
        <p>&nbsp;An open-source password manager with better control of your data</p>
    </span>
</div>
<div id="pagecont" class="center">
    <div id="signinbtn">
        It's easy to get started.<br><br>
        <button onclick="click_signin()">Sign in with Google</button>
    </div>
</div>