<!DOCTYPE html>
<html>
	<head>
		<meta name="google-signin-scope" content="profile https://www.googleapis.com/auth/drive.appdata">
		<meta name="google-signin-client_id"
			  content="24174415954-ckn4q9q3nn17oio24fhctamm8v6ibfld.apps.googleusercontent.com">
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,devanagari,greek,greek-ext,latin-ext,vietnamese"
			  rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/rustykeys/css/normalize.css">
		<link rel="stylesheet" type="text/css" href="/rustykeys/css/base.css">
		<link rel="stylesheet" type="text/css" href="/rustykeys/css/style.css">
		<link rel="stylesheet" type="text/css" href="/rustykeys/css/loading.css">
	</head>
	<body>
		<div id="load-wrap">
			<div class="load-cont">
				<div class="lblock lb1"></div>
				<div class="lblock lb2"></div>
				<div class="lblock lb3"></div>
				<div class="lblock lb4"></div>
			</div>
		</div>
		<div id="main">
			<div id="dim-ovr invis" class="height0"></div>
			<div class="abs gone g-signin2 invis" data-onsuccess="onSignIn"></div>
			<div class="pane-wrap-wrap noselect">
				<div class="pane-wrap">
					<ul id="pane-groups">
						<li id="homebtn" class="grpicon selgrp">
							<img id="homeimg" src="./img/rustykeys.png">
						</li>
						<li class="grpspacer"></li>
						<li class="grpicon" name="settings">

						</li>
						{{GROUPS}}
						<li id="addgroup" class="grpicon">
							<img src="./img/plusg.png">
						</li>
					</ul>
				</div>
			</div>
			<div class="topbar noselect">
				<ul>
					<li><img id="settings" src="./img/settings.png" /></li>
					<li><img id="loginout" src="./img/login.png" /></li>
					<li><img id="patreon" src="./img/patreon.png" /></li>
				</ul>
			</div>
			<div class="pad10 righty">
				<div id="pageload-wrap">
					<div class="load-cont">
						<div class="lblock lb1"></div>
						<div class="lblock lb2"></div>
						<div class="lblock lb3"></div>
						<div class="lblock lb4"></div>
					</div>
				</div>
				<div id="mainpage">
					<!--<div class="logotitle">
						<img src="./img/rustykeys.png" width="128" height="128" alt="rustykeys logo" align="top"/>
						<span>
							<h1>Welcome to RustyKeys</h1>
							<p>&nbsp;An open-source password manager with better control of your data</p>
						</span>
					</div>
					<div id="pagecont" class="center">
						<div id="signinbtn">
							It's easy to get started.<br><br>
							<button id="googlesignin">Sign in with Google</button>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</body>
	<script src="./js/jquery.min.js"></script>
	<script src="./js/main.js"></script>
	<script type="text/javascript">
        let isMini = false;
        function onSignIn(googleUser) {
            let profile = googleUser.getBasicProfile();
            $("#homeimg").attr("src", profile.getImageUrl()).attr("title", "Signed in as: "+profile.getName());
            $("#loginout").attr("src", "./img/logout.png").attr("title", "Sign out").off().click(function(){
                if(!isMouseDown) {
                    isMouseDown = true;
                    signOut();
                }
            });
            $("#homebtn").off().click(function() {
                $(".grpicon").removeClass("selgrp");
                $(this).addClass("selgrp");
                go("signedin");
            });
            go("signedin");

            invoke("RK~gid:"+googleUser.getAuthResponse().id_token);

        }

        function signOut() {
            let auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                $("#loginout").attr("src", "./img/login.png").attr("title", "Sign in with Google").off().click(function(){
                    click_signin();
                });
                $("#homeimg").attr("src", "./img/rustykeys.png").attr("title","");
                $("#homebtn").off("click.main").on("click.main", function() {
                    go("signin");
                });
                go("signin");

                $("googlesignin").off().click(function() {
                    click_signin();
                });
            });
        }

        $(function() {
            $("#loginout").off().click(function() {
                click_signin();
            });
            $("#settings").off().click(function() {
                $(".selgrp").removeClass("selgrp");
                go("settings");
            });
            $("#homebtn").off("click.main").on("click.main", function() {
                go("signin");
            });
            $("googlesignin").off().click(function() {
                click_signin();
            });
            goNoLoad("signin");
            fadeoutID("pageload-wrap");
            invoke('RK~appload');
        });
	</script>
</html>
